SECRET_KEY=
DEBUG=False

# Comma separated values, e.g. example.com,localhost,127.0.0.1
ALLOWED_HOSTS=

# Comma separated, include the scheme, e.g. https://example.com
CSRF_TRUSTED_ORIGINS=

DB_ENGINE=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
