# Generate a key locally with:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=
DEBUG=True

# Comma separated values, e.g. example.com,localhost,127.0.0.1
ALLOWED_HOSTS=localhost,127.0.0.1

# Comma separated, include the scheme, e.g. https://example.com
CSRF_TRUSTED_ORIGINS=

# When commented out, defaults to sqlite
#DB_ENGINE=
#DB_HOST=
#DB_NAME=
#DB_USER=
#DB_PASSWORD=
#DB_PORT=
